*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: aquamarine;
color:#333;
text-align: center;
line-height: 1.6;
}

.section{
    padding:40px 20px;
}

.hero h2{
    padding:50px 20ps;
}

.grid{
    display:grid;
    gap:10px
}

.grid div{
    background-color: cadetblue;
    padding: 20px
    Border-radius
    100px;
}

@media (max-width: 768px){
    .hero h1{font-size:40px;}
    body{background:lightcyan}
}

.hero-text{
    display: flex;
    flex-direction: column;
}

.hero img{
    border-radius: 50%;
    
}