*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: aquamarine;
color:#333;
text-align: center;
line-height: 1.6;
}

.section{
    padding:40px 20px;
}

.hero h2{
    padding:80px 20px;
}

.grid{
    display:grid;
    gap:10px;
}

.grid div{
    background-color:turquoise;
    padding: 40px;
    Border-radius: 300px;
}

@media (max-width: 768px){
    .hero h1{font-size:50px;}
    body{background:lightcyan;}
}

.hero-text{
    display: flex;
    flex-direction: column;
    padding:120px ;
}

.hero img{
    border-radius: 50%;

    
}